%h1 Micro-Interview Results

.panel.panel-body
  %h3 Basic Info
  %br
  %p
    %strong Results link:
    = link_to (root_url.chomp("/") + micro_interview_path(@micro_interview.unique_id)), micro_interview_path(@micro_interview.unique_id)
  %p
    %strong Name:
    =@micro_interview.name
  %p
    %strong Email:
    =@micro_interview.name
  %p
    %strong Date taken: 
    =@micro_interview.updated_at.strftime("%c")

  %hr
  %h3 Question
  %br
  %p.code
    =@micro_interview.question_text

  %hr
  %h3 Response
  %br
  %p
    %strong Response language: 
    =@micro_interview.response_language
  %br
  %p.code
    =@micro_interview.response_text
