%h1 Micro-Interview Results

.panel.panel-body
  %h3 Basic Info
  %br
  %p
    %strong Name:
    =@interview_question.name
  %p
    %strong Email:
    =@interview_question.name
  %p
    %strong Date taken: 
    =@interview_question.updated_at.strftime("%c")

  %hr
  %h3 Question
  %br
  %p.code
    =@interview_question.question_text

  %hr
  %h3 Response
  %br
  %p
    %strong Response language: 
    =@interview_question.response_language
  %br
  %p.code
    =@interview_question.response_text
