@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.code {
  font-family: 'Cutive Mono';
}

pre.scrollable {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

textarea.code {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}
